.MainSpa-header {
  width: 100%;
  background-color: #282c34;
  box-shadow: 0 1px 8px #282c34;
  text-align: center;
  
  .center-column {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  > div {
    padding: 0 0px;
    display: flex;
    align-items: center;
    height: 60px;
  }

  h1 a {
    margin: 0;
    font-size: 48px;
    font-weight: 100;
    font-family: 'Go 2 Old Western';
    color: #fdf0da;
    margin-left: 10px;
    text-decoration: none;
  }

  nav {
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: #f5b348;
    color: #282c34;
    font-size: 28px;
    font-family: 'Go 2 Old Western';
    font-style: normal;
  }

  nav ol {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  nav li {
    display: inline;
  }

  nav a {
    color: inherit;
  }

  .logo {
    height: 60px;
  }
}

@media (min-width: 600px) {
  .MainSpa-header nav ol {
    display: block;
  }
  .MainSpa-header nav li {
    margin-right: 30px;
  }
}
