.Main-Spa {
  .Home-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .Home-header {
    background-color: #282c34;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fdf0da;
    
    .App-link {
      color: #f5b348;
    }
  }

  .About-main {
    background-color: #282c34;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fdf0da;
    padding: 0 20px;
    margin: auto;
    text-align: center;

    .App-link {
      color: #f5b348;
    }

    p {
      font-size: 20px;
      line-height: 1.5;
    }

    .About-container {
      padding-left: 20vw;
      padding-right: 20vw;

      .About-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
